@use '../../../styles/variables' as *;

.standings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	.loading {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $dirtyWhiteColor;
	}
	.notAvailable {
		text-align: center;
		font-size: 14px;
		color: $grayFontColor;
	}
	.standing {
		width: 100%;
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 576px) {
	.standings {
		.notAvailable {
			font-size: 16px;
		}
		.standing {
			margin-bottom: 36px;
		}
	}
}
