@use '../../../styles/variables' as *;

.matchInfo {
	display: flex;
	flex-direction: column;
	.info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0px;
		}
		.label {
			font-size: 13px;
			color: $grayFontColor;
			font-weight: 450;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}
		.value {
			font-size: 14px;
			color: $blackFontColor;
			font-weight: 400;
		}
	}
}

@media (min-width: 576px) {
	.matchInfo {
		.info {
			margin-bottom: 6px;
		}
	}
}
