@use '../../../../styles/variables' as *;

.playerRow {
	display: flex;
	align-items: center;
	.number {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		min-width: 14px;
		margin-right: 4px;
		p {
			color: $grayFontColor;
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 0.25px;
		}
	}
	.name {
		margin-right: 4px;
		color: $blackFontColor;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.25px;
		cursor: pointer;
		&:hover {
			color: $blackFontColorHover;
			text-decoration: underline;
		}
	}
	.rating{
		margin-right: 4px;
	}
	.icons {
		display: flex;
		flex-direction: row-reverse;
		margin-right: 3px;
		gap: 2px;
	}
	&Away {
		flex-direction: row-reverse;
		.number {
			justify-content: flex-end;
			margin-right: 0;
			margin-left: 4px;
		}
		.name {
			margin-right: 0;
			margin-left: 4px;
		}
		.rating{
			margin-right: 0;
			margin-left: 4px;
		}
		.icons {
			flex-direction: row;
			margin-right: 0px;
			margin-left: 3px;
		}
	}
}

@media (min-width: 576px) {
	.playerRow {
		.number {
			margin-right: 8px;
			p {
				font-size: 14px;
			}
		}
		.name {
			margin-right: 6px;
			font-size: 14px;
		}
		.rating{
			margin-right: 6px;
		}
		.icons {
			margin-right: 5px;
			gap: 4px;
		}
		&Away {
			.number {
				margin-right: 0;
				margin-left: 8px;
			}

			.name {
				margin-right: 0;
				margin-left: 6px;
			}
			.rating{
				margin-right: 0;
				margin-left: 6px;
			}
			.icons {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
}
