$primaryColor: #1bc5bd;
$primaryColorHover: #0da5a1;
$primaryColorFocus: #0da5a1;
$secondaryColor: #24a3d5;
$secondaryColorHover: #1a91c1;
$goldStarColor: #ffc107;
$whiteColor: #ffffff;

$whiteFontColor: #f8f8f8;
$whiteFontColorHover: #ececec;

$grayFontColor: #6c757d;
$grayFontColorHover: #5a6268;

$blackFontColor: #343a40;
$blackFontColorHover: #212529;

$grayBorderColor: #dee2e6;

$backgroundColor: #f5f5f5;

$countryBarBackgroundHover: #dfdfdf;
