$primaryColor: #1bc5bd;
$primaryColorHover: #0da5a1;
$primaryColorFocus: #0da5a1;
$secondaryColor: #24a3d5;
$secondaryColorAlpha: #24a3d525;
$secondaryColorHover: #1a91c1;
$goldStarColor: #ffc107;
$whiteColor: #ffffff;
$redColor: #dc3545;
$darkColor: #343a40;
$dirtyWhiteColor: #f8f9fa;
$shadowHoverColor: #33333308;

$ratingVeryGoodColor: #1756ae;
$ratingGoodColor: #17ae42;
$ratingAverageColor: #ae9c17;
$ratingBadColor: #ae1717;
$ratingVeryBadColor: #510c0c;

$matchPanelBackgroundHover: #24a3d515;
$matchPanelBackgroundAction: #dc354515;
$matchPanelBackgroundActionHover: #dc354525;

$whiteFontColor: #f8f8f8;
$whiteFontColorHover: #ececec;

$redFontColor: #dc3545;
$redFontColorHover: #c82333;

$grayFontColor: #343a40;
$grayFontColorHover: #212529;

$blackFontColor: #212529;
$blackFontColorHover: #121212;

$grayBorderColor: #dee2e6;
$grayBorderColorDark: #adb5bd;

$backgroundColor: #ebebeb;

$countryBarBackgroundHover: #dfdfdf;
