@use '../../styles/variables' as *;

.matchPage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	.loading {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $dirtyWhiteColor;
	}
	.content,
	.loading {
		padding: 8px;
		width: 100%;
		height: 100%;
		max-width: 800px;
		background-color: $dirtyWhiteColor;
		border-radius: 4px;
		overflow-y: scroll;
	}
	.content {
		.leagueInfo {
			width: 100%;
			border-bottom: 1px solid $grayBorderColor;
			padding: 0px 0px 6px;
		}
		.result{
			width: 100%;
			border-bottom: 1px solid $grayBorderColor;
			padding: 1px 0px;

		}
	}
}

@media (min-width: 576px) {
	.matchPage {
		padding: 12px;

		.content,
		.loading {
			padding: 10px;
		}
		.content {
			.leagueInfo {
				padding: 2px 2px 8px;
			}
			.result{
				padding:32px 2px;
			}
		}
	}
}
