@use '../../../../../styles/variables' as *;

.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	position: relative;
	.jersey {
		width: min-content;
		position: relative;
		.icon {
			font-size: 44px;
		}
		.number {
			position: absolute;
			left: 50%;
			top: 20%;
			font-family: 'Teko', sans-serif;
			font-weight: 400;
			letter-spacing: 0.5px;
			transform: translateX(-50%);
			font-weight: 300;
			font-size: 20px;
		}
	}
	.name {
		margin-top: -4px;
		padding: 1px;
		border-radius: 4px;
		max-width: 80px;
		background-color: $dirtyWhiteColor;
		overflow: hidden;
		p {
			margin: 0;
			white-space: nowrap;
			text-align: center;
			overflow: hidden;
			font-size: 11px;
			text-overflow: ellipsis;
			color: $blackFontColor;
			cursor: pointer;
			&:hover {
				color: $blackFontColorHover;
				text-decoration: underline;
			}
		}
	}
	.rating {
		position: absolute;
		left: 50%;
		transform: translateX(14px);
		top: 45%;
		padding: 1px 2px 1px;
		border-radius: 4px;
		&VeryGood {
			background-color: $ratingVeryGoodColor;
		}
		&Good {
			background-color: $ratingGoodColor;
		}
		&Average {
			background-color: $ratingAverageColor;
		}

		&Bad {
			background-color: $ratingBadColor;
		}
		&VeryBad {
			background-color: $ratingVeryBadColor;
		}
		p {
			font-size: 10.5px;
			letter-spacing: -0.5px;
			font-weight: 450;
			color: $whiteFontColor;
		}
	}
	.icons {
		display: flex;
		flex-direction: column-reverse;
		position: absolute;
		left: 50%;
		bottom: 28%;
		transform: translateX(-24px);
		gap: 2px;
	}
}

@media (min-width: 768px) {
	.player {
		.jersey {
			.icon {
				font-size: 48px;
			}
			.number {
				font-size: 22px;
			}
		}
		.name {
			padding: 1px 4px;
			p {
				font-size: 12px;
			}
		}
		.rating {
			p {
				font-size: 12px;
			}
		}
		.icons {
			transform: translateX(-32px);
		}
	}
}
