@use '../styles/variables' as *;

.mainLayout {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	.header {
		padding: 4px 12px 2px;
		background-color: $primaryColor;
		.logo {
			cursor: pointer;
			width: fit-content;
		}
	}
	.content {
		height: 100%;
		overflow: hidden;
	}
	.footer {
		position: sticky;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px 0;
		background-color: $primaryColor;
		p {
			text-align: center;
			font-size: 14px;
			color: $whiteFontColor;
			font-weight: 300;
		}
		.link {
			margin-left: 2.5px;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				color: $whiteFontColor;
				transition: color 0.3s;
				font-size: 16px;
				&:hover {
					color: $whiteFontColorHover;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.mainLayout {
		.header {
			padding: 8px 24px 2px;
		}
		.footer {
			padding: 6px 0;
			p {
				font-size: 16px;
			}
			.link {
				a {
					font-size: 18px;
				}
			}
		}
	}
}
