@use '../../styles/variables' as *;

.matchPanel {
	display: flex;
	align-items: center;
	padding: 8px 12px 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: $matchPanelBackgroundHover;
	}
	.status {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 60px;
		margin-right: 6px;
		p {
			color: $grayFontColor;
			font-size: 12px;
			text-align: center;
			letter-spacing: 0.25px;
			line-height: 16px;
		}
		.date {
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 0.1em;
			letter-spacing: 0;
			color: $blackFontColor;
		}
		p.timeLive {
			font-weight: 500;
			font-size: 12px;
			color: $redColor;
			.apostrophe {
				animation: apostropheClick 1.5s infinite;
			}
		}
	}

	.content {
		width: calc(100% - 60px);
		.home,
		.away {
			display: flex;
			.team {
				display: flex;
				flex-direction: row;
				align-items: center;
				&:first-child {
					margin-bottom: 4px;
				}
				.logo {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 20px;
					width: 32px;
					margin-right: 2px;
					img {
						height: 100%;
					}
				}
				.teamName {
					font-size: 14px;
					letter-spacing: 0.25px;
					color: $grayFontColor;
					&:hover {
						color: $grayFontColorHover;
						text-decoration: underline;
					}
					&Winner {
						font-weight: 500;
						color: $blackFontColor;
						&:hover {
							color: $blackFontColorHover;
						}
					}
				}
			}
			.score {
				margin-left: auto;
				padding: 0 12px;
				font-weight: 450;
				font-size: 13px;
				&Live {
					color: $redColor;
				}
			}
		}
	}
}

@keyframes apostropheClick {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
