@use '../../styles/variables' as *;

.matchPanel {
	display: flex;
	align-items: center;
	padding: 8px 12px 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: $matchPanelBackgroundHover;
	}
	.status {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 60px;
		margin-right: 6px;
		.time {
			color: $grayFontColor;
			font-size: 12px;
			text-align: center;
			letter-spacing: 0.25px;
			line-height: 16px;
			.number {
				font-size: 13px;
			}
			.apostrophe {
				font-size: 13px;
				animation: pulse 1.5s infinite;
			}
		}
		.date {
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 0.1em;
			letter-spacing: 0;
			color: $blackFontColor;
		}
	}

	.content {
		width: calc(100% - 60px);
		.home,
		.away {
			display: flex;
			.team {
				display: flex;
				flex-direction: row;
				align-items: center;
				&:first-child {
					margin-bottom: 6px;
				}
				.logo {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 20px;
					width: 32px;
					margin-right: 2px;
					img {
						height: 100%;
					}
				}
				.teamName {
					font-size: 14px;
					letter-spacing: 0.25px;
					color: $grayFontColor;
					&:hover {
						color: $grayFontColorHover;
						text-decoration: underline;
					}
					&Winner {
						font-weight: 500;
						color: $blackFontColor;
						&:hover {
							color: $blackFontColorHover;
						}
					}
				}
			}
			.score {
				display: flex;
				align-items: center;
				margin-left: auto;
				padding: 0 12px;
				font-weight: 450;
				font-size: 13px;
				.goalInfo {
					display: none;
					margin-right: 12px;
					animation: pulse 2s infinite;
					font-weight: 500;
					color: $redColor;
				}
			}
			&Score {
				.team {
					.teamName {
						color: $redFontColor;
						&:hover {
							color: $redFontColorHover;
						}
					}
				}
				.score {
					.goalInfo {
						display: block;
					}
				}
			}
		}
	}
	&Change {
		background-color: $matchPanelBackgroundAction;
		&:hover {
			background-color: $matchPanelBackgroundActionHover;
		}
	}
	&Live {
		.status {
			.time {
				font-weight: 500;
				color: $redColor;
				.apostrophe {
					animation: pulse 1.5s infinite;
				}
			}
		}
		.content {
			.home,
			.away {
				.score {
					.number {
						color: $redColor;
					}
				}
			}
		}
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
