@use '../../styles/variables' as *;

.homePage {
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 8px;
	.sidebar {
		overflow-y: scroll;
		background-color: $dirtyWhiteColor;
		border-radius: 4px;
	}
	.content {
		display: grid;
		grid-template-rows: auto 1fr;
		overflow-y: scroll;
		.topBar {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 12px;
			.buttons {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 2px;
				margin-bottom: 8px;
				flex-wrap: wrap;
			}
			.datePicker {
				width: 100%;
			}
		}
		.loading {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $dirtyWhiteColor;
			border-radius: 4px;
		}
		.leagueList {
			display: flex;
			flex-direction: column;
			gap: 16px;
			background-color: $dirtyWhiteColor;
			padding: 8px;
			border-radius: 4px;
			.leaguePanel {
				margin-bottom: 2px;
			}
			.match {
				border-bottom: 1px solid $secondaryColorAlpha;
			}
		}
		.noMatchesInfo {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}
}

@media (min-width: 576px) {
	.homePage {
		padding: 12px;
		.content {
			margin-left: 8px;
			.topBar {
				position: sticky;
				z-index: 1;
				top: 0px;
				margin-bottom: 0;
				padding-bottom: 8px;
				gap: 8px;
				background-color: $backgroundColor;
				.buttons {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.homePage {
		.content {
			margin-left: 16px;
			.topBar {
				position: sticky;
				z-index: 1;
				top: 0px;
				flex-direction: row;
				padding-bottom: 12px;
				gap: 12px;
				.buttons {
					gap: 12px;
					justify-content: flex-start;
				}
				.datePicker {
					width: fit-content;
				}
			}
		}
	}
}
