.homePage {
	height: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	.sidebar {
		overflow-y: scroll;
	}
	.content {
		display: grid;
		grid-template-rows: auto 1fr;
		padding: 8px;
		overflow-y: scroll;
		.topBar {
			display: flex;
			flex-direction: column;
			align-items: center;
			.buttons {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				gap: 4px;
				margin-bottom: 8px;
				flex-wrap: wrap;
			}
			.datePicker {
				width: 90%;
			}
		}
		.loading {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.leagueList {
			display: flex;
		}
	}
}

@media (min-width: 578px) {
	.homePage {
		.content {
			padding: 12px;
			.topBar {
				flex-direction: row;
				gap: 12px;
				.buttons {
					margin-bottom: 0;
					height: 100%;
					gap: 12px;
					justify-content: flex-start;
				}
				.datePicker{
					width: fit-content;
				}
			}
		}
	}
}
